# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
.pydevproject
atlassian-ide-plugin.xml

# Project
/src/bhwsg/local_settings.py
/src/bhwsg/settings_local.py
/src/bhwsg/public/static
/src/bhwsg/public/media
*.log
*.db
