@import "r.css";

// Base
body {
	font: normal 1em/1.5 sans-serif;
}

ul {
	list-style: none;
}

@primary-width: 5em;
@secondary-width: 20em;
@secondary-left: @primary-width;
@mail-left: @primary-width + @secondary-width;

// Layout
#primary, #secondary, #mail {
	position: absolute;
	top: 0;
	bottom: 0;
}

#primary {
	background: #ddd;
	left: 0;
	width: @primary-width;

	li.active {
		background: #fafafa;
	}
}

#secondary {
	background: #fafafa;
	left: @secondary-left;
	width: @secondary-width;
	border-right: 1px solid #aaa;
	z-index: 2;
	overflow: hidden;

	&:hover {
		overflow-y: auto;
	}

	h1 {
		font-size: 2em;
		font-weight: 100;
		letter-spacing: -1px;
		text-align: left;
		position: relative;
		padding: .25em .5em;
		text-shadow: 0 -1px 1px #eee;

		.counters {
			position: absolute;
			right: .5em;
			top: 2em;
			font-size: 0.35em;
			background: #ddd;
			letter-spacing: 0;
			border-radius: .25em;
			overflow: hidden;

			.counter {
				padding: .25em .75em;
			}

			.single {
				border-radius: .25em;
			}

			.unread {
				border-radius: .25em 0 0 .25em;
				background: lighten(#cc211b, 10%);
				color: #fff;
			}
		}

	}

	li {
		padding: .25em .5em .5em;
		border-bottom: 1px solid #ddd;
		position: relative;

		h2 {
			font-size: 1em;
			font-weight: 100;
			letter-spacing: -1px;
			position: relative;

			&:hover {
				z-index:3;
			}
		}

		time {
			position: absolute;
			top: .5em;
			right: .5em;
			font-size: .75em;
			font-weight: 100;
		}

		p.header {
			font-size: .8em;

			.label {
				background: #999;
				color: #fff;
				border-radius: .25em;
				margin-right: .5em;
				padding: .125em .25em;
				font-size: .95em;
			}
		}
		p.few-lines {
			font-size: .7em;
			line-height: 1.25;
			height: 2.45em;
			overflow: hidden;
			color: #555;
			// text-overflow: ellipsis;
			// white-space: nowrap;
		}

		&.active {
			background: #859356; //debug
			box-shadow: 0 0 10px #555 inset;
			color: #fff;

			p.header {
				.label {
					background: darken(#859356, 15%);
				}
			}
			p.few-lines {
				color: #eee;
			}
		}
	}
}

#scroller {
	position: absolute;
	top: 0;
	bottom: 0;
	width: .5em;
	background: #000;
	z-index: 100;
	opacity: .01;
	cursor: w-resize;
}

#mail {
	background: #fafafa url(../i/bg4.png);
	left: @mail-left;
	right: 0;
	overflow: auto;

	h1 {
		font-size: 2em;
		padding: .125em .5em;
		// margin: 1em 1em 0 1em;
		font-weight: 100;
		letter-spacing: -1px;
		border-bottom: 1px solid #ddd; // debug
		background: lighten(#859356, 35%); //debug
		}

	aside {
		// margin: 0 2em 0 2em;
		padding: .5em 1em;
		background: #eee;
	}

	.mail {
		margin:  2em;
		background: #fff; //debug
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 0 2px #777;
	}
	.message {
		padding: 1em;
	}
}
