{% extends "base.html" %}

{% block content %}
<nav id="primary">
  <ul>
    <li class="active">
      <a href="#inbox">All</a>
      {# <span class="unread">∞</span><!-- If more than 9 --> #}
    </li>
  </ul>
  <span class="username">
    {{ user.email }}
    <a href="{% url auth_logout %}">logout</a>
  </span>
</nav>
<nav id="secondary">
  <h1>
    <span class="label">All</span>
    <span class="counters">
      <span class="counter unread">2</span><span class="counter total">12</span>
    </span>
  </h1>
  <ul>
    <li class="empty">Configure your project</li>
  </ul>
</nav>
<section id="mail">
</section>
{% endblock content %}


{% block jstemplates %}
<script type="text/template" id="template-inbox-list">
  [[#inboxes]]
  <li[[#active]] class="active"[[/active]]>
    <a href="#" data-slug="[[slug]]" data-count="[[count]]" data-unread="[[unread]]">
      [[title]]
      [[#label]]
        <span class="label">[[label]]</span>
      [[/label]]
    </a>
    [[#unread]]
    <span class="unread">[[unread]]</span>
    [[/unread]]
  </li>
  [[/inboxes]]
</script>

<script type="text/template" id="template-mail-list">
[[#mails]]
<li[[#alala]] class="active"[[/alala]]>
  <h2>[[subject]]</h2>
  <time datetime="[[date]]">[[date]]</time>
  <p class="header from"><span class="label">from</span>[[from_email]]</p>
  <p class="header to"><span class="label">to</span>[[to_email]] <strong>…</strong></p>
  <p class="few-lines">[[few_lines]]</p>
</li>
[[/mails]]
</script>
{% endblock jstemplates %}
