{% extends "base.html" %}

{% block content %}
<nav id="primary">
  <ul>
    <li class="active">
      <a href="#inbox">All</a>
      {# <span class="unread">∞</span><!-- If more than 9 --> #}
    </li>
  </ul>
  <span class="username">
    {{ user.email }}
    <a href="{% url auth_logout %}">logout</a>
  </span>
</nav>
<nav id="secondary">
  <h1>
    All
    <span class="counters">
      <span class="counter unread">2</span><span class="counter total">12</span>
    </span>
  </h1>
  <ul>
    <li class="empty">Configure your project</li>
  </ul>
</nav>
<section id="mail">
</section>
{% endblock content %}


{% block jstemplates %}
<script type="text/template" id="template-inbox-list">
  [[#inboxes]]
  <li class="active">
    <a href="#p2">
      [[title]]
      [[#slug]]
        <span class="label">[[slug]]</span>
      [[/slug]]
    </a>
    <span class="unread">4</span>
  </li>
  [[/inboxes]]
</script>
{% endblock jstemplates %}
