{% extends "base.html" %}

{% block content %}
  <p>Home page!</p>
  {% if user.is_authenticated %}
    Hi, {{ user.email }}. You are logged in.
    <p>New inbox:</p>
    <form action="{% url inbox-create %}" method="POST">{% csrf_token %}
        {{ inbox_form.as_p }}
        <input type="submit" value="save">
    </form>
    {% if user.inboxes.exists %}
      <ul>
        {% for inbox in user.inboxes.all %}
          <li><a href="{{ inbox.get_absolute_url }}">{{ inbox.title }}</a> (<a href="{% url inbox-team-remove-me inbox.slug %}">Leave</a>)</li>
        {% endfor %}
      </ul>
    {% endif %}
    <a href="{% url auth_logout %}">Logout</a>.<br/><br/>
  {% else %}
    <a href="{% url auth_login %}">Login</a>
  {% endif %}
{% endblock content %}
