{% extends "base.html" %}

{% block content %}
  <a href="{% url home %}">back</a>
  <p>You can use this settings for Django application:</p>
  <p>
    EMAIL_HOST = '{{ request.get_host }}'<br />
    EMAIL_HOST_USER = '{{ inbox.slug }}'<br />
    EMAIL_HOST_PASSWORD = '{{ inbox.password }}'<br />
    EMAIL_PORT = 1025
  </p><br />
  <p>Full team:</p>
  <ul>
    {% for member in inbox.users.all %}
      <li>{{ member.email }}</li>
    {% endfor %}
  </ul><br />
  <p>You can add team members here:</p>
  <form action="{% url inbox-team-add inbox.slug %}" method="post">{% csrf_token %}
    {{ user_form.as_p }}
    <input type="submit" value="add">
  </form><br />
  {% comment %}
  <p><a href="{% url inbox-leave inbox.slug %}">Leave inbox</a></p>
  {% if inbox.owner == user %}
    <p><a href="{% url inbox-delete inbox.slug %}">Delete inbox</a> (You are owner)</p>
  {% else %}
    <p>Only owner can delete inbox.</p>
  {% endif %}
  {% endcomment %}
{% endblock content %}
